/.idea/
/.env*
/storage/logs/*
/storage/tmp/*
!/storage/logs/.gitkeep
!/storage/tmp/.gitkeep
!/.env.example
!/.env.docker
*.exe
/tmp/
/bin/*
/test/storage/

.DS_Store

application.yml
deploy.sh
.env.dev

*.pyc
__pycache__